html, body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: beige;
  font-family: "Helvetica", sans-serif;
}

.container {
  border: 1px solid black;
  background: white;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.container h1 {
  text-align: center;
}

.container form {
  line-height: 2;
}

.error {
  color: red;
}

.total {
  border: 2px dotted black;
  padding: 10px;
  line-height: 1.5;
}

@media (max-width: 780px) {
  .container {
    width: 90%;
    box-shadow: 0px 5px 5px #888888;
  }
}

@media (min-width: 781px) {
  .container {
    width: 60%;
  }

  .hide-on-large {
    display: none;
  }
}
